body {
    margin: 0px;
    padding: 0px;
    background-color: #f4f1f1;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 400;   
}
header { 
    display: flex;
    justify-content: space-around;
    background-color:#f4f1f1;
    border-bottom: 10px solid #00004d;
}
a {
    text-decoration: none;
    font-weight: bold;
}
ul {
    list-style-type: none;
}
img {
    width: 100%;
}
.logotype {
    width: 15%;
}
.socialm {
    display: flex;
    order: -1;
    align-self: flex-start;
    flex-basis: 15%;    
}
.ic-fb {
    display: flex;
    width: 20%;
    padding: 20px;
    
}
.ic-ig {
    display: flex;
    width: 20%;
    padding: 20px;
    
}
.ic-tw {
    display: flex;
    width: 20%;
    padding: 20px;
    
}
.h-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.date {
    display: flex;
    align-self: flex-end;
}
.search {
    display: flex;
    margin-bottom: 20px;
}
