main {
    display: flex;
    flex-wrap: wrap;
}
.showcase {
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    padding: 30px;
    background-image: url("../img/background.jpg");  
    color: #ffffff;
    border-bottom: 10px solid #00004d;
    font-style: italic;
}
form {
    display: flex;
    flex-wrap: wrap;
}
.row {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}
.row p {
    display: none;
}
.news {
    display: flex;
    flex-basis: 69%;
    flex-direction: column;
    flex-grow: 1;
    background:#04B4E3;
    border-right: 10px solid #00004d;  
}
.news a {
    color: #00004d;
}
.sidebar {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    background-color:#E10D4A;
    color: #ffffff;
}
.sidebar a {
    color:#ffffff;
}
.main-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
    font-size: 30px;
}
.main-img {
    display: flex;
    width: 20%;
    padding: 5%;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 20px 20px 0px;
}
.second-news {
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
    border-bottom: 2px solid #00004d;
}
.second {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-shrink: 1;
    align-items: center;
    width: 400px;
    font-size: 21px;
}
.second-img {
    display: flex;
    flex-basis: 20%;
    padding: 5%;
}
.second-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 5%;
}
.other-news {
    /*background-color: green;*/
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
}
.other {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-shrink: 1;
    align-items: center;
    width: 175px;
    padding: 5%;
}
.latest {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 15%;
}
.lat-img {
    display: flex;
    flex-basis: 20%;
    padding-bottom: 5%;
}
.suscribe {
    display: flex;
    margin: 5% 10% 0.5%;
    padding: 5%;
}
.advertising {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 15%;
}
.adv {
    display: flex;
    flex-basis: 20%;
    padding: 5%;
}
