main {
    display: flex;
    flex-wrap: wrap;
}
.news {
    display: flex;
    flex-basis: 70%;
    background: yellow;
    flex-direction: column;
}
.main-news {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-img {
    display: flex;
    flex-basis: 20%;
}
.sidebar {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
}
.second-news {
    background-color: blue;
    display: flex;
    /*flex-wrap: wrap;*/
}
.second-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-1-img {
    display: flex;
    flex-basis: 20%;
}
.second-2-img {
    display: flex;
    flex-basis: 20%;
}

.other-news {
    background-color: green;
    display: flex;
    flex-wrap: wrap;
}
.lat1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lat2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lat3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lat4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lat5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lat1-img {
    display: flex;
    flex-basis: 20%;
}
.lat2-img {
    display: flex;
    flex-basis: 20%;
}.lat3-img {
    display: flex;
    flex-basis: 20%;
}.lat4-img {
    display: flex;
    flex-basis: 20%;
}.lat5-img {
    display: flex;
    flex-basis: 20%;
}
.advertising {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.adv1 {
    display: flex;
    flex-basis: 20%;
}
.adv2 {
    display: flex;
    flex-basis: 20%;
}