nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0%;
    padding: 10px 0px;
    background-color: #e6004c;
}
@media only screen and (max-width: 600px) {
    .nav-list {
        display: flex;
    }
}
nav ul a {
    color: #ffffff;
}
.nav-list {
    display: flex;
    justify-content: space-around;
    display: none;
}
.showcase {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-image: url("../img/background.jpg");  
    color: #ffffff;
}
