nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0%;
    padding: 10px 0px;
    background-color: #e6004c;
}
nav ul a {
    color: #ffffff;
}
.showcase {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-image: url("../img/background.jpg");  
    color: #ffffff;
}
