nav { 
    background-color: #e6004c;
}
.nav-desktop {
    display: flex;
    justify-content: space-around;
    margin: 0%;
    padding: 10px 0px;
}
.nav-mobile {
    display: none;

}
@media only screen and (max-width: 600px) {
    /* // Si estoy viendo la web en una pantalla
    // Y mi ancho de pantalla va de 0 a 600 px */
    .nav-desktop {
        display: none;
    }
    .nav-mobile {
        display: flex;
        justify-content: space-around;
    }
}
nav a {
    color: #ffffff;
}

